# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/x64
/CS230/Debug
/CS230/x64/Release
/CS230/x64/Debug
CS230/x64/Debug/CS230.ilk
CS230/x64/Debug/CS230.log
CS230/x64/Debug/CS230.tlog/CS230.write.1u.tlog
CS230/x64/Debug/CS230.tlog/link.read.1.tlog
CS230/x64/Debug/CS230.vcxproj.FileListAbsolute.txt
